/www
/icons
/raw
/metadata

# --------------------------------
# Node modules (ignore everything)
# --------------------------------
node_modules/*

# --------------------------------
# Prevent F-Droid scanner errors
# --------------------------------
*.tar.gz
*.tgz
*.zip
